* {
    padding: 0;
    margin: 0;
    outline: 0;
}

html, body {
    min-height: 100%;
    width: 100%;
    background: url('./img/main-bg-cut.png') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    position: relative;
    margin: 0 10px;
}

.about-us {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-block {
    position: relative;
    text-align: center;
    background: #fff;
    padding: 50px 150px;
    box-shadow: 0px 18px 26px 0px rgba(0,0,0,0.15);
    margin: 10px 0 30px;
}

.background-container {
    background: url("./img/src_assets_light-background.png") no-repeat;
    background-size: cover;
    padding: 5%;
    outline: 1px solid #F5E3C5;
    outline-offset: -10px;
    margin: 20px auto;
}

.content-block h1 {
    color: #B58646;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: bold;
    margin: 15px auto 0 ;
}

.content-block span {
    color: #2B363D;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    }

.content-block p {
    max-width: 275px;
    margin: 15px auto;
    color: #82878A;
    font-size: 14px;
    font-family: 'Open Sans', serif;
    font-weight: 300;
}

.content-block a {
    padding: 5px 10px;
    background: #B08D5D;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #EDE5DC;
}

.content-block a:hover {
    background: #B58646;
    color: #fff;
    transition: 0.5s;
}

.content-block__left-image {
    opacity: 1;
    position: absolute;
    left: 0;
    top: 20%;
    margin-left: -180px;
    transform: scale(0.70, 0.70);
    transition: 0.8s;
}

.content-block__right-image {
    opacity: 1;
    position: absolute;
    right: 0;
    top: 20%;
    margin-right: -180px;
    transform: scale(0.70, 0.70);
    transition: 0.8s;
}

.top-left-corner {
    opacity: 1;
    position: absolute;
    top: -40px;
    left: -50px;
    transform: scale(0.5, 0.5);
    transition: 0.8s;
}

.top-right-corner {
    opacity: 1;
    position: absolute;
    top: -40px;
    right: -50px;
    transform: scale(0.5, 0.5) rotateY(180deg);
    transition: 0.8s;
}

.bottom-left-corner {
    opacity: 1;
    position: absolute;
    bottom: -40px;
    left: -50px;
    transform: scale(0.5, 0.5) rotateX(180deg);
    transition: 0.8s;
}

.bottom-right-corner {
    opacity: 1;
    position: absolute;
    bottom: -40px;
    right: -50px;
    transform: scale(0.5, 0.5) rotateX(180deg) rotateY(180deg);
    transition: 0.8s;
}

.collection {
    position: relative;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.8s;
}

.item-container__left-block {
    position: relative;
    margin: 10px;
    outline: 1px solid #F5E3C5;
    outline-offset: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-container__right-block {
    margin: 10px;
    outline: 1px solid #F5E3C5;
    outline-offset: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    position: relative;
    min-width: 300px;
    background: url("./img/inside-image.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 7px solid rgba(255,255,255,0.5);
    margin: 40px 120px;
}

.item h2{
    position: relative;
    color: #B3BEC2;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    overflow: hidden;
    min-height: 45px;
    max-height: 150px;
}

.item a {
    padding: 5px 10px;
    background: #B08D5D;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #EDE5DC;
    margin:  10px auto 30px;
    max-width: 200px;
    overflow: hidden;
}

.item a:hover {
    background: #B58646;
    color: #fff;
    transition: 0.5s;
}

.item-container span {
    display: none;
}

@media screen and (max-width: 1200px) {
    .content-block__left-image, .content-block__right-image {
        display: none;
        transition: 0.8s;
    }
    .top-left-corner, .top-right-corner, .bottom-left-corner, .bottom-right-corner {
        opacity: 0;
        transition: 0.8s;
    }
    .item-container span {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .content-block {
        background: none;
        box-shadow: none;
        padding: 10px;
        margin: 0 auto;
        transition: 0.8s;
    }

    .content-block h1 {
        line-height: 0.9;
        margin: 10px auto;
        max-width: 275px;
    }

    .content-block p {
        line-height: 1.7;
        text-indent: 10px;
        font-size: 13px;
        max-width: 240px;
        color: #363F45;
    }

    .content-block span {
        max-width: 260px;

    }

    .main-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .item-container span {
        opacity: 1;
        transition: 0.8s;
        display: inline-block;
        color: #B58647;
        margin: 30px 55px 10px;
        font-size: 30px;
    }

    .item {
        max-width: 300px;
        background: none;
        outline: none;
        transition: 0.8s;
        margin: 0 120px;
    }

    .item h2{
        color: #fff;
        font-size: 30px;
        transition: 0.8s;
        text-align: center;
        display: flex;

    }
}

@media (max-width: 560px) {
    .item-container__left-block, .item-container__right-block {
        max-width: 300px;
        margin: 10px 0;
        transition: 0.8s;
    }
}ак